h2 {
  font-family: Arial, sans-serif;
}
.container {
  width: 1300px;
  margin: 3rem auto;
  &.browser-container {
    .browser-window {
      background: #ececec;
      position: relative;
      display: inline-block;
      padding: 20px 0 0;
      -webkit-box-shadow: 0 16px 80px 0 rgba(0, 0, 0, 0.05);
      box-shadow: 0 16px 80px 0 rgba(0, 0, 0, 0.05);
      border: 1px solid #ececec;
      border-radius: 5px;
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 35px;
        height: 7px;
        top: 6px;
        left: 10px;
        background-image: url(https://www.solodev.com/_/images/window-buttons.svg);
      }
      img {
      	width: 1000px
      }
    }
  }
  &.tablet-container {
    .tablet-window {
      background: #55606d;
      position: relative;
      display: inline-block;
      padding: 15px 15px 10px;
      -webkit-box-shadow: 0 16px 80px 0 rgba(0, 0, 0, 0.05);
      box-shadow: 0 16px 80px 0 rgba(0, 0, 0, 0.05);
      border: 1px solid #55606d;
      border-radius: 10px;
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 7px;
        top: calc(50% - 8px);
        left: 1px;
        background-image: url(http://www.solodev.com/_/images/speaker.svg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 6px;
        height: 6px;
        top: calc(50% - 3px);
        right: 4px;
        background-image: url(http://www.solodev.com/_/images/button.svg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
  &.phone-container {
  	.phone-window {
  	  background: #55606d;
  	  position: relative;
  	  display: inline-block;
  	  padding: 20px 5px 20px;
  	  -webkit-box-shadow: 0 16px 80px 0 rgba(0, 0, 0, 0.05);
  	  box-shadow: 0 16px 80px 0 rgba(0, 0, 0, 0.05);
  	  border: 1px solid #55606d;
  	  border-radius: 10px;
  	  &:before {
  	    content: "";
  	    position: absolute;
  	    display: block;
  	    width: 16px;
  	    height: 7px;
  	    top: 6px;
  	    left: calc(50% - 8px);
  	    background-image: url(https://www.solodev.com/_/images/speaker.svg);
  	  }
  	  &:after {
  	    content: "";
  	    position: absolute;
  	    display: block;
  	    width: 6px;
  	    height: 6px;
  	    bottom: 9px;
  	    left: calc(50% - 3px);
  	    background-image: url(https://www.solodev.com/_/images/button.svg);
  	  }
  	}
  }
}